<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494497180927-hpv71e02mfbuooeukvuk7ot8pmgdqg0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494497180927-hpv71e02mfbuooeukvuk7ot8pmgdqg0r</string>
	<key>API_KEY</key>
	<string>AIzaSyC-7nuq0UuEO5j8_7ldTU6-_NEBfMtT-Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>494497180927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DosiDimitrov.TRAILER2022New</string>
	<key>PROJECT_ID</key>
	<string>croozer-2</string>
	<key>STORAGE_BUCKET</key>
	<string>croozer-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494497180927:ios:a046fcb3ebd101b18270ca</string>
</dict>
</plist>